.map-page-page {
    .scroll {
        height: 100%;
    }

    .map-container{
        height: 100%;
        width: 100%;
    }

    #center{
        position:absolute;
        z-index::3;
    }

    #map {
        width: 100%;
        height: 100%;
    }

    .ion-header{
        background-color: #FFA474;
        height:40px;
    }
}
